.main_container{
  width: 100%;
  height: 100%;
  background-color: #F0F3F5;
  padding-top: 15px;
}

.main_menueContainer{
  padding: 0px 10px 0px 10px;
}

.main_menueContainer>nav{
  background-color: white;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

.main_menueHeader{
  padding: 0px 10px 0px 10px;
  font-weight: 600;
  font-size: 20px;
}

.main_menueBody{
  padding: 10px;
}

.main_menueBody_header{
  margin: 20px 0px 20px 0px;
}

.main_i{
  margin-right: 30px;
}

.main_list_item:hover{
  color: #FF1B1B;
}

.main_nav{
  border-radius: 10px;
  background-color: white;
  margin-bottom: 30px;
  height: 50px;
}

.main_bodyContainer{
  padding: 0px 10px 0px 10px;
}

.main_body{
  border-radius: 10px;
  background-color: white;
  height: 300px;
}

.main_newsfeed{
  color: #afb1b2;
  font-weight: 500;
  padding: 12px 20px;
  border-right: 1px solid #f0f3f5;
}

.main_newsfeed_list{
  width: 641px;
  padding: 15px 0;
}

.main_userinfo_container{
  border-left: 0.8px solid #f0f3f5;
  padding: 8px 15px;
}

.main_userinfo_container>:first-child{
  margin-right: 20px;
}

.main_userinfo_container>:nth-child(2){
  margin-top: 5px;
}

.main_userinfo_container>:nth-child(2)>span{
  cursor: pointer;
  font-weight: bold;
}

.main_userinfo_container>:nth-child(2)>span:hover{
  cursor: pointer;
  font-weight: bold;
  color: #ff0000;
}

.main_submenu_container{
  border-left: 0.8px solid #f0f3f5;
}

.main_submenu_container>ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.main_submenu_container>ul>li{
  float: left;
  font-size: 16px;
  padding: 15px;
  color: #afb1b2;
  cursor: pointer;
}

.main_submenu_container>ul>li:hover{
  float: left;
  font-size: 16px;
  padding: 15px;
  color: #ff0000;
  cursor: pointer;
}
